<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library | Login</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body data-theme="light">

    <div id="container-login" class=" w-100 h-100vh p-3">
        <div id="logo" class="">
            <img src="img/logo_mba.svg" alt="Library Logo">
        </div>
        <div id="login" class="flex w-100 h-80 radius-25px">
            <div id="" class=" flex-1">
                immagine log in
            </div>
            <div id="" class=" flex-1">
                input log in
            </div>
        </div>
    </div>


<script th:src="@{/js/login.js}"></script>
</body>
</html>